<%= form_for(@group_invite) do |f| %>
  <% if @group_invite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group_invite.errors.count, "error") %> prohibited this group_invite from being saved:</h2>

      <ul>
      <% @group_invite.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :group_id %><br>
	<%= f.collection_select :group_id, current_user.groups, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :invitee_id %><br>
    <%= f.text_field :invitee_id %>
  </div>
  <div class="field">
    <%= f.label :message %><br>
    <%= f.text_area :message %>
  </div>
  <div class="actions">
    <%= f.submit '초대하기', class:'btn btn-mini btn-default'%>
  </div>
<% end %>
