<h1>Listing group_invites</h1>

<table>
  <thead>
    <tr>
      <th>Inviter</th>
      <th>Group</th>
      <th>Invitee</th>
      <th>Message</th>
      <th>Accepted</th>
      <th>Declined</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @group_invites.each do |group_invite| %>
      <tr>
        <td><%= group_invite.inviter %></td>
        <td><%= group_invite.group %></td>
        <td><%= group_invite.invitee %></td>
        <td><%= group_invite.message %></td>
        <td><%= group_invite.accepted %></td>
        <td><%= group_invite.declined %></td>
        <td><%= link_to 'Show', group_invite %></td>
        <td><%= link_to 'Edit', edit_group_invite_path(group_invite) %></td>
        <td><%= link_to 'Destroy', group_invite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group invite', new_group_invite_path %>
