<p id="notice"><%= notice %></p>

<p>
  <strong>Inviter:</strong>
  <%= @group_invite.inviter %>
</p>

<p>
  <strong>Group:</strong>
  <%= @group_invite.group %>
</p>

<p>
  <strong>Invitee:</strong>
  <%= @group_invite.invitee %>
</p>

<p>
  <strong>Message:</strong>
  <%= @group_invite.message %>
</p>

<p>
  <strong>Accepted:</strong>
  <%= @group_invite.accepted %>
</p>

<p>
  <strong>Declined:</strong>
  <%= @group_invite.declined %>
</p>

<%= link_to 'Edit', edit_group_invite_path(@group_invite) %> |
<%= link_to 'Back', group_invites_path %>
