<div class="authform">
  <h3><%=t 'devise.registrations.edit'%></h3>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form'}) do |f| %>
    <%= devise_error_messages! %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
    </div>
    <fieldset>
      <p><%=t 'devise.registrations.leave_blank_if_unchanged'%></p>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, :autocomplete => 'off', class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
    </fieldset>
    <fieldset>
      <p><%=t 'devise.registrations.need_current_password_for_change'%></p>
      <div class="form-group">
        <%= f.label :current_password %>
        <%= f.password_field :current_password, class: 'form-control' %>
      </div>
    </fieldset>
    <%= f.submit :class => 'button right' %>
  <% end %>
</div>
<div class="authform">
<h3><%=t 'devise.registrations.destroy'%></h3>
<p><%= t 'devise.registrations.destroy_sub'%></p>
<%= button_to t('devise.registrations.destroy'), registration_path(resource_name), :data => { :confirm => t('label.are_you_sure') }, :method => :delete, :class => 'button right' %>
</div>
