﻿<div class="authform registration">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { role: 'form'}) do |f| %>
    <h3><%=t 'devise.registrations.sign_up'%></h3>
    <%= devise_error_messages! %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, autofocus: true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :member_license %>
      <%= render 'member_license' %>
	  <%= f.check_box :member_license %> 회원가입약관을 읽었으며 내용에 동의합니다.
    </div>
    <div class="form-group">
      <%= f.label :privacy_agreement %>
      <%= render 'privacy_agreement' %>
	  <%= f.check_box :privacy_agreement %> 개인정보취급방침을 읽었으며 내용에 동의합니다.
    </div>
     <%= f.submit t('devise.registrations.sign_up'), :class => 'button right' %>
  <% end %>
</div>
