﻿<%= form_for(@map) do |f| %>
  <% if @map.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@map.errors.count, "error") %> prohibited this map from being saved:</h2>

      <ul>
      <% @map.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :group %><br>
	<%= f.collection_select :group_id, current_user.groups, :id, :name %>
  </div>
  
  <div class="map" style="width:400px;">
    <div id="map" style="width:400px; height:400px;" 
	  <% %w[north east south west].each do |direction| %>
	    data-<%=direction%>="<%=@map.send "bound_#{direction}"%>"
	  <% end %>
	</div>
  </div>
  
  <div class="field">
    <%= f.label :bound_north %><br>
    <%= f.text_field :bound_north %>
  </div>
  <div class="field">
    <%= f.label :bound_east %><br>
    <%= f.text_field :bound_east %>
  </div>
    <div class="field">
  <%= f.label :bound_south %><br>
    <%= f.text_field :bound_south %>
  </div>
  <div class="field">
    <%= f.label :bound_west %><br>
    <%= f.text_field :bound_west %>
  </div>

  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :data_category %><br>
    <%= f.collection_select :data_category_id, DataCategory.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :date_interval %><br>
	<%= f.select :date_interval_count, 1..31 %>
	<%= f.select :date_interval_unit, [['일','day'], ['주','week'], ['월','month'], ['년','year']] %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-mini btn-default'%>
  </div>
<% end %>
