<h3><%=t 'activerecord.models.map'%></h3>
<div class="span8">
<table class="table table-condensed">
  <thead>
    <tr>
      <th><%= t 'activerecord.attributes.map.name'%></th>
      <th><%= t 'activerecord.attributes.map.owner'%></th>
      <th><%= t 'activerecord.attributes.map.description'%></th>
	  <th><%= t 'activerecord.attributes.map.group'%></th>
	  <% if can? :manage, Map %>
      <th></th>
      <th></th>
	  <% end %>
    </tr>
  </thead>

  <tbody>
    <% @maps.each do |map| %>
      <tr>
        <td><%= link_to map.name, map %></td>
        <td><%= link_to(map.user, map.user) if map.user %></td>
		<td><%= map.description %></td>
		<td><%= link_to(map.group, map.group) if map.group %></td>
		<% if can? :manage, Map %>
        <td><%= link_to t('label.edit'), edit_map_path(map), class: 'btn btn-mini btn-default' %></td>
        <td><%= link_to t('label.delete'), map, method: :delete, data: { confirm: t('label.are_you_sure') }, class: 'btn btn-mini btn-danger' %></td>
		<% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<% if can? :manage, Map %>
  <%= link_to t('label.new', model: t('activerecord.models.map')), new_map_path %>
<% end %>
