<p>
  <strong><%=t 'activerecord.attributes.map.name'%>:</strong>
  <%= @map.name %>
</p>

<form action="<%= url_for(@map) %>" class="form-inline" data-remote="true">
<input type="hidden" name="format" value="js" />
<div class="toolbar-container">
  <div class="btn-group toolbar" data-toggle="buttons">
    <label class="btn btn-default <%="active" if marker_type == "pin"%>">
      <input type="radio" name="marker" value="pin" /> 핀
	</label>
	<label class="btn btn-default <%="active" if marker_type == "visual"%>">
      <input type="radio" name="marker" value="visual" /> 사진
	</label>
	<!--
	<label class="btn btn-default <%="active" if marker_type == "number"%>">
      <input type="radio" name="marker" value="number" /> 측정값
	</label>
	-->
  </div>
  
  <div class="toolbar" id="data_category_toolbar">
    <% DataCategory.all.each do |data_category| %>
	  <input type="checkbox" class="bootstrapswitch" name="data_category[]" value="<%=data_category.id%>" 
	    data-label-text="<%=data_category.name%>"
	    <%="checked" if category_filter.include? data_category.id%> />
	<% end %>
  </div>
  
  <input type="text" class="form-control" name="daterange" value="<%= daterange %>" />
</div>
</form>
  
<div class="map" style="width:100%;">
  <div id="map" style="width:100%; height:600px;" 
    <% %w[north east south west].each do |direction| %>
      data-<%=direction%>="<%=@map.send "bound_#{direction}"%>"
    <% end %>
  </div>
</div>
  
<script type="text/javascript">
var markers;
function onmapload() {
  markers = handler.addMarkers(<%=raw @hash.to_json%>);
}
</script>

<% if can? :add_data, @map %>
<p style="margin-top: 3px">
  <%= link_to '데이터 등록 하기',  new_datum_url(map_id: @map.id), class: 'btn btn-xs btn-default' %>
</p>
<% end %>

<p>
  <%=t 'label.download' %>
  <%- formats = %w[xls xlsx json csv xml] -%>
  <% formats = %w[json csv xml] %>
  <% formats.each_with_index do |format, index| %>
  <a class="download" data-format="<%=format%>" href="?"><%=format%></a>
  <%= " | " if index < formats.length - 1 %>
  <% end %>
</p>

<%= link_to t('label.edit'), edit_map_path(@map) %> |
<%= link_to t('label.back'), maps_path %>
