<%= form_for(@data_category) do |f| %>
  <% if @data_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@data_category.errors.count, "error") %> prohibited this data_category from being saved:</h2>

      <ul>
      <% @data_category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :unit %><br>
    <%= f.text_field :unit %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-mini btn-default'%>
  </div>
<% end %>
