<h3><%=t 'label.editing', model: t('activerecord.models.data_category')%></h3>

<%= render 'form' %>

<%= link_to t('label.show'), @data_category %> |
<%= link_to t('label.back'), data_categories_path %>
