<h3><%=t 'activerecord.models.data_category'%></h3>
<div class="span8">
<table class="table table-condensed">
  <thead>
    <tr>
      <th><%= t 'activerecord.attributes.data_category.name'%></th>
      <th><%= t 'activerecord.attributes.data_category.unit'%></th>
	  <% if can? :manage, DataCategory %>
      <th></th>
      <th></th>
	  <% end %>
    </tr>
  </thead>

  <tbody>
    <% @data_categories.each do |data_category| %>
      <tr>
        <td><%= link_to data_category.name, data_category %></td>
        <td><%= data_category.unit %></td>
		<% if can? :manage, DataCategory %>
        <td><%= link_to t('label.edit'), edit_data_category_path(data_category), class: 'btn btn-mini btn-default' %></td>
        <td><%= link_to t('label.delete'), data_category, method: :delete, data: { confirm: t('label.are_you_sure') }, class: 'btn btn-mini btn-danger' %></td>
		<% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<% if can? :manage, DataCategory %>
  <%= link_to t('label.new', model: t('activerecord.models.data_category')), new_data_category_path %>
<% end %>
