<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @data_category.name %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @data_category.unit %>
</p>

<%= link_to 'Edit', edit_data_category_path(@data_category) %> |
<%= link_to 'Back', data_categories_path %>
