<h3><%=t 'activerecord.models.group'%></h3>
<div class="span8">
<table class="table table-condensed">
  <thead>
    <tr>
      <th><%= t 'activerecord.attributes.group.name'%></th>
      <th><%= t 'activerecord.attributes.group.owner'%></th>
	  <% if can? :manage, Group %>
      <th></th>
      <th></th>
	  <% end %>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= link_to group.name, group %></td>
        <td><%= group.user.name %></td>
		<% if can? :manage, Group %>
        <td><%= link_to t('label.edit'), edit_group_path(group), class: 'btn btn-mini btn-default' %></td>
        <td><%= link_to t('label.delete'), group, method: :delete, data: { confirm: t('label.are_you_sure') }, class: 'btn btn-mini btn-danger' %></td>
		<% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<% if can? :manage, Group %>
  <%= link_to t('label.new', model: t('activerecord.models.group')), new_group_path %>
<% end %>
