<p>
  <strong><%=t 'activerecord.attributes.group.name'%>:</strong>
  <%= @group.name %>
</p>

<p>
  <strong><%= t 'activerecord.attributes.group.owner'%>:</strong>
  <%= @group.user %>
</p>

<p>
  <strong><%= t 'activerecord.attributes.group.members'%>:</strong>
  <%= @group.users.count %>
</p>

<% if can? :manage, @group %>
<p><%= link_to "가입 신청 목록 보기 
(#{@group.group_requests.where(accepted:nil,declined:nil).count})", 
group_requests_url(fresh:true) %><p>
<% end %>

<% if !@group.users.include? (current_user) %>
<p><%= link_to '그룹 가입', new_group_request_path(group_id: @group.id) %></p>
<% else %>
<p><%= link_to '그룹 나가기', leave_group_path(@group), data: { confirm: t('label.are_you_sure')}, class: 'btn btn-small btn-danger pull-right' %></p>
<% end %>

<% if can? :update, @group %>
  <%= link_to t('label.edit'), edit_group_path(@group) %> |
<% end %>
<%= link_to t('label.back'), groups_path %>
