<%= form_for(@group_request) do |f| %>
  <% if @group_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group_request.errors.count, "error") %> prohibited this group_request from being saved:</h2>

      <ul>
      <% @group_request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :group_id %><br>
    <%= f.collection_select :group_id, Group.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :message %><br>
    <%= f.text_area :message %>
  </div>

  <div class="actions">
    <%= f.submit '가입', class: 'btn btn-mini btn-default'%>
  </div>
<% end %>
