<h1>Group Requests (<%=params[:fresh] ? '신규' : '모두'%>)</h1>
<% if params[:fresh] %>
  <%= link_to '모두 보기', group_requests_url %>
<% else %>
  <%= link_to '신규만 보기', group_requests_url(fresh:true) %>
<% end %>

<div class="span8">
<table class="table table-condensed">
  <thead>
    <tr>
      <th>Requester</th>
      <th>Group</th>
      <th>Message</th>
      <th>Accepted</th>
      <th>Declined</th>
	  <% if can? :manage, GroupRequest %>
      <th></th>
      <th></th>
	  <% end %>
    </tr>
  </thead>

  <tbody>
    <% @group_requests.each do |group_request| %>
      <tr>
        <td><%= group_request.requester %></td>
        <td><%= group_request.group %></td>
        <td><%= group_request.message %></td>
        <td><%= group_request.accepted %></td>
        <td><%= group_request.declined %></td>
		<% if can? :manage, GroupRequest %>
        <td><%= link_to 'Accept', accept_group_request_path(group_request)  if group_request.fresh%></td>
		<td><%= link_to 'Decline', decline_group_request_path(group_request) if group_request.fresh%></td>
		<% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Group request', new_group_request_path %>
