<p id="notice"><%= notice %></p>

<p>
  <strong>Requester:</strong>
  <%= @group_request.requester %>
</p>

<p>
  <strong>Group:</strong>
  <%= @group_request.group %>
</p>

<p>
  <strong>Message:</strong>
  <%= @group_request.message %>
</p>

<p>
  <strong>Accepted:</strong>
  <%= @group_request.accepted %>
</p>

<p>
  <strong>Declined:</strong>
  <%= @group_request.declined %>
</p>

<%= link_to 'Edit', edit_group_request_path(@group_request) %> |
<%= link_to 'Back', group_requests_path %>
