<div class="modal fade" id="role-options-<%=user.id%>">
  <div class="modal-dialog">
    <div class="modal-content">
    <%= form_for user, :url => user_path(user), :html => {:method => :put, :class => 'form-horizontal' } do |f| %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><%= user.name%> <%=t 'devise.role.change'%></h4>
      </div>
      <div class="modal-body">
        <%= collection_select :user, :role_ids, Role.all, :id, :name, checked: user.role_ids.first %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%=t 'devise.role.close'%></button>
        <%= f.submit t('devise.role.save'), class: 'btn btn-primary'%>
      </div>
    <% end %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->