<h3><%=t 'activerecord.models.user'%></h3>
<div class="span8">
<table class="table table-condensed">
  <thead>
    <tr>
      <th><%= t 'activerecord.attributes.user.name'%></th>
      <th><%= t 'activerecord.attributes.user.email'%></th>
      <th><%= t 'activerecord.attributes.user.registered'%></th>
      <th><%= t 'activerecord.attributes.user.role'%></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.name, user %></td>
      <td><%= mail_to user.email %></td>
      <td><%= user.created_at.to_date %></td>
      <td><%= user.roles.first.name.titleize unless user.roles.first.nil? %></td>
      <td>
        <a data-toggle="modal" href="#role-options-<%= user.id %>" class="btn btn-mini btn-default" type="button"><%=t 'devise.role.change'%></a>
      </td>
      <td><%= link_to(t('label.delete'), user_path(user), :data => { confirm: t('label.are_you_sure') }, :method => :delete, :class => 'btn btn-mini btn-danger') unless user == current_user %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<% @users.each do |user| %>
<%= render user %>
<% end %>
</div>
