<h3><%=t 'activerecord.models.user'%></h3>
<p><%=t 'activerecord.attributes.user.name'%>: <%= @user.name %></p>
<% if can? :see_email, @user %>
<p><%=t 'activerecord.attributes.user.email'%>: <%= mail_to @user.email if @user.email %></p>
<% end %>
