<div class="authform">
  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :role => 'form'}) do |f| %>
    <h3><%=t 'devise.passwords.forgot'%></h3>
    <p><%=t 'devise.passwords.offer_recover'%></p>
    <%= devise_error_messages! %>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
    </div>
     <%= f.submit t('devise.passwords.recover'), :class => 'button right' %>
  <% end %>
</div>
