<%= form_for(@datum) do |f| %>
  <% if @datum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@datum.errors.count, "error") %> prohibited this datum from being saved:</h2>

      <ul>
      <% @datum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :map %><br>
    <%= f.collection_select :map_id, Map.all, :id, :name %>
  </div>
  
  <div class="field">
    <%= f.label :data_category %><br>
    <%= f.collection_select :data_category_id, DataCategory.all, :id, :name %>
  </div>
  
  <div class="field">
    <%= f.file_field :visual %>
  </div>
  
  <div class="option">
    <input type="checkbox" name="use_exif" />위치, 시간정보는 사진에서 가져오기
  </div>
  
  <div class="exif">
    <div class="field">
      <%= f.label :address %><br>
      <%= f.text_field :address %>
      <button type="button" id="geocode">좌표 찾기</button>
    </div>
  
    <div class="map" style="width:400px;">
      <div id="map" style="width:400px; height:400px;" 
        <% %w[north east south west].each do |direction| %>
          data-<%=direction%>="<%=@datum.map.send "bound_#{direction}"%>"
        <% end %>>
      </div>
    </div>
  
    <div class="field">
      <%= f.label :latitude %><br>
      <%= f.text_field :latitude %>
    </div>
    <div class="field">
      <%= f.label :longitude %><br>
      <%= f.text_field :longitude %>
    </div>
    <div class="field">
      <%= f.label :measure_time %><br>
      <%= f.datetime_select :measure_time %>
    </div>
  </div>

  <div class="field">
    <%= f.label :measurement %><br>
    <%= f.text_field :measurement %>
  </div>
  <div class="field" style="display: none;">
    <%= f.label :value %><br>
    <%= f.text_field :value %>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-mini btn-default' %>
  </div>
<% end %>
