<p>
  <strong>등록사용자:</strong>
  <%= link_to datum.user, datum.user %>
</p>

<% if datum.measurement %>
<p>
  <strong>측정갓:</strong>
  <%= datum.measurement %>
</p>
<% end %>

<p>
  <strong>측정시간:</strong>
  <%= datum.measure_time %>
</p>

<% if datum.visual.url(:medium) != '/images/medium/missing.png' %>
<p>
  <strong>사진:</strong>
  <%= image_tag datum.visual.url(:medium) %>
</p>
<% end %>