<h1>Listing data</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Map</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Address</th>
      <th>Measurement</th>
      <th>Value</th>
      <th>Measure time</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @data.each do |datum| %>
      <tr>
        <td><%= datum.user %></td>
        <td><%= datum.map %></td>
        <td><%= datum.latitude %></td>
        <td><%= datum.longitude %></td>
        <td><%= datum.address %></td>
        <td><%= datum.measurement %></td>
        <td><%= datum.value %></td>
        <td><%= datum.measure_time %></td>
        <td><%= link_to 'Show', datum %></td>
        <td><%= link_to 'Edit', edit_datum_path(datum) %></td>
        <td><%= link_to 'Destroy', datum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Datum', new_datum_path %>
