<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @datum.user %>
</p>

<p>
  <strong>Map:</strong>
  <%= @datum.map %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @datum.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @datum.longitude %>
</p>

<p>
  <strong>Address:</strong>
  <%= @datum.address %>
</p>

<p>
  <strong>Measurement:</strong>
  <%= @datum.measurement %>
</p>

<p>
  <strong>Value:</strong>
  <%= @datum.value %>
</p>

<p>
  <strong>Measure time:</strong>
  <%= @datum.measure_time %>
</p>

<%= link_to 'Edit', edit_datum_path(@datum) %> |
<%= link_to 'Back', data_path %>
