/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require daterangepicker-bs3
 *= require_self

 */

 input[name="daterange"].form-control {
   width: 210px;
   cursor: pointer;
 }
 
 .daterangepicker .ranges .input-mini {
   font-size: 9px;
   padding: 0 3px;
 }
 
 html, body {
   height: 100%;
 }
 
 main[role="main"] {
   min-height: 100%;
   height: auto !important;
   height: 100%;
   margin: 0 auto -100px;
   padding-bottom: 0;
   padding-top: 50px;
 }
 
 .footer, .push {
   height: 82px;
 }