// Place all the styles related to the Maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#data_category_toolbar .bootstrap-switch-label {
  font-weight: normal;
  font-size: 10px;
}