﻿<%# add navigation links to this file %>
<% if can? :manage, DataCategory %>
  <li><%= link_to '데이터분류', data_categories_path %></li>
<% end %>
<% if user_signed_in? %>
  <li><%= link_to '지도', maps_path %></li>
  <li><%= link_to '그룹', groups_path %></li>
<% end %>

<% if can? :manage, User %>
  <li><%= link_to '사용자관리', users_path %></li>
<% end %>

<% if user_signed_in? %>
  <li><%= link_to '계정관리', edit_user_registration_path %></li>
  <li><%= link_to '로그아웃', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to '계정만들기', new_user_registration_path %></li>
  <li><%= link_to '로그인', new_user_session_path %></li>
<% end %>

<li>&nbsp;</li>