<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Heatmap" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Heatmap" %>">
    <%= stylesheet_link_tag 'application', media: 'all'  %>
	<script src="https://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
	<script src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer_compiled.js" type="text/javascript"></script>
    <%= javascript_include_tag 'application' %>
	<%= javascript_include_tag params[:controller] %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
	   <div class="push"></div>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
